doctype html
html
  head
    meta(charset='UTF-8')
    title Swift First Step
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/highlight.pack.css')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/app.css')

  body

    .container

        section
            .playground-header
                h2.main-title Swift Seminar

        section.env.mb20
            h2.env-title 実行環境
            | OS X El Capitan 10.11.5 <br> Xcode 8.0 beta(8S128d)

        h3.play-title Seminar1

        p.mb10 ※各Stepのプログラムは
            a(href="https://github.com/code0-sh/SwiftSeminarProgram", target="blank") こちら
            | にあります。

        section.playground
            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step1:プロジェクト作成
                    .play-code
                        ul.guidance
                            li Xcodeを起動し、<i class="marker highlight">Create a new Xcode project</i>を選択する。
                            img(src="images/step1_xcode_01.png", width="50%")

                            li <i class="marker highlight">Game</i>を選択して<i class="marker highlight">Next</i>を押下する。
                            img(src="images/step1_xcode_02.png", width="50%")

                            li アプリ名、組織名は任意のものを入れて<i class="marker highlight">Next</i>を押下する。
                            img(src="images/step1_xcode_03.png", width="50%")

                            li 任意のディレクトリを選択して<i class="marker highlight">Next</i>を押下する。
                            img(src="images/step1_xcode_04.png", width="50%")

            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step2:プロジェクト初期化
                    .play-code
                        ul.guidance
                            li sksファイル(Actions.sks, GameScene.sks)を削除する。

                            li GameScene.swift : GameSceneの中身を空にする。
                                include:markdown ../md/Step2/1.md

                            li GameViewController.swift : viewDidLoadを以下に変更する。
                                include:markdown ../md/Step2/2.md

            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step3: 文字を表示する
                    .play-code
                        include:markdown ../md/Step3/1.md

            .play-list
                .play-list-item
                    .step-header
                        .step-num <i class="fa fa-plus-square"></i> Step4: 画像を表示する
                    .play-code
                        ul.guidance
                            li <i class="marker highlight">New Group</i>からimagesグループを作成する。

                            li imagesグループに画像ファイル(person.png)をドラッグアンドドロップする。
                            img(src="images/step4_xcode_01.png", width="50%")

                        include:markdown ../md/Step4/1.md

    #react


    script(src='js/react-with-addons-0.13.1.js')
    script(src='js/bundle.js')
    script(src='js/highlight.pack.js')
    script(type="text/javascript").
        hljs.initHighlightingOnLoad();
